{% extends "buyer/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div align='center'>
    <div class='content-section' style="width: 500px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
                <div><table><tr><td>Seller? </td> <td> {{ role|crispy}}</td></tr></table></div>
            </fieldset>
            <div class='form-group'>
                <button class='btn btn-outline-info' type="submit">Sign Up</button>
            </div>
        </form>
        <div class='border-top pt-3'>
            <small class='text-muted'> Already have an Account? <a class='ml-2'  href="{% url 'login' %}">Sign In</a></small>
        </div>
    </div>
</div><br>
{% endblock content %}