{% extends "buyer/base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
    <div class='content-section' align='center'><br><br>
        <form method="POST" style="width: 500px;" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend align='center' class="border-bottom mb-4"><strong> Item Add </strong></legend>
                {{ form|crispy }}
            </fieldset>
            <div class='form-group' align='right'>
                <button class='btn btn-info' type="submit">Post</button>
                <a class='btn btn-outline-info' href="{% url 'shop' %}">back</a>
            </div>
        </form><br><br>
    </div>
{% endblock content %}