{% extends "products/base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
<div align='center'>
    <div class='content-section' style="width: 600px;">
        <table><br><tr><td>
            <div class='media'>
                <img class='rounded-circle account-img' src='{{ user.profile.image.url}}' alt="image not available">
                <div class='media-body' style="padding: 10px 0 10px 0;">
                    <h2 class="account-heading"> {{ user.username }} </h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div></td><td>
            <form method="POST" style="padding:0 55px 0 55px;" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class='form-group'>
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {% if user.user_role == 0 %}
                        <legend style="color:green;">Seller Account <i class="fa fa-check-square-o"></i></legend>
                    {% endif %}
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
<!--                    {% if user.profile.role %}-->
<!--                        <div><table><tr><td>{{ role|crispy}}</td></tr></table></div>-->
<!--                    {% endif %}-->
                </fieldset><br>
                <div class='form-group' align='center'>
                    <button class='btn btn-info' type="submit">Update</button>
                    <a class="btn btn-outline-secondary" href="{% url 'home' %}">Home</a>
                </div>
            </form></td></tr> 
        </table>
    </div>
</div>
{% endblock content %}